body {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 200px;
    border: 1px solid black;
    background-size: contain;
}
#showDisplay {
    height: 55px;
    font-size: 30px;
    width: 360px;
    text-align: end;
    margin-top: 8px;
}
#IDOperator {
    display: flex;
}
#IDOperator button {
    width: 80px;
    height: 30px;
    margin: 1px;
}

#NumEnter {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

#NumEnter button {
    flex:0 0 calc(100%/3);
    height: calc(100%/3);
    text-align: center;
    height: 25px;
}